<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
<!--    <div th:replace="fragments/header :: header-css"/>-->
</head>
<head th:replace="head :: head"></head>
<body th:replace="menu :: menu"></body>
<style>
    body {
        background: url(https://img.desktopwallpapers.ru/newyear/pics/wide/1920x1080/e4c4224f3693eebf0a60253c321e512c.jpg); /* Цвет фона и путь к файлу */
    }
</style>
<body>

<!--<div th:replace="fragments/header :: header"/>-->

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
    <div class="frame">
        <div class="nav">
            <ul class="links">
            <li class="signin-active"><a class="btn">Sign in</a></li>
            <li class="signup-inactive"><a class="btn">Sign up </a></li>
            </ul>
        </div>
        <div ng-app ng-init="checked = false">
            <form class="form-signin" action="login" method="post" name="form">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-styling"
                       placeholder="UserName" required="true" autofocus="true"/>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-styling"
                       placeholder="Password" required="true"/>
                <input type="checkbox" id="checkbox"/>
                <div align="center">
                    <input type="submit" class="loginForm" value="Sign In"/>
                </div>
            </form>

            <form class="form-signup" action="registration" method="post">
                <label >Логин</label>
                <input class="form-styling" type="text" name="username" placeholder="UserName"/>
                <label for="password">Пароль</label>
                <input class="form-styling" type="password" name="password" placeholder="Password"/>
                <label>ФИО</label>
                <input class="form-styling" type="text" name="fio" placeholder="Fio"/>
                <label>Телефон</label>
                <input class="form-styling" type="text" name="phone" placeholder="Phone"/>
                <label>Электронная почта</label>
                <input class="form-styling" type="text" name="email" placeholder="Email"/>

<br>
<!--                <label for="confirmpassword">Confirm password</label>-->
<!--                <input class="form-styling" type="text" name="confirmpassword" placeholder=""/>-->
                <div align="center"><input class="loginForm" type="submit" value="Sign In"/></div>
            </form>

            <div  class="success">
                <svg width="270" height="270" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 60 60" id="check" ng-class="checked ? 'checked' : ''">
                    <path fill="#ffffff" d="M40.61,23.03L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314
                  c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.683,22.607-20.849,22.042
                  c-9.9-0.46-18.128-8.344-18.972-18.218c-0.292-3.416,0.276-6.673,1.51-9.578" />
                    <div class="successtext">
                        <p> Thanks for signing up! Check your email for confirmation.</p>
                    </div>
            </div>
        </div>

        <div class="forgot">
            <a href="#">Forgot your password?</a>
        </div>

        <div>
            <div class="cover-photo"></div>
            <div class="profile-photo"></div>
            <h1 class="welcome">Welcome, Chris</h1>
            <a class="btn-goback" value="Refresh" onClick="history.go()">Go back</a>
        </div>
    </div>
    <a id="refresh" value="Refresh" href="NoAuthHome">
<!--    <a id="refresh" value="Refresh" onClick="history.go()">-->
        <svg class="refreshicon"   version="1.1" id="Capa_1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="25px" height="25px" viewBox="0 0 322.447 322.447" style="enable-background:new 0 0 322.447 322.447;"
             xml:space="preserve">
         <path  d="M321.832,230.327c-2.133-6.565-9.184-10.154-15.75-8.025l-16.254,5.281C299.785,206.991,305,184.347,305,161.224
                c0-84.089-68.41-152.5-152.5-152.5C68.411,8.724,0,77.135,0,161.224s68.411,152.5,152.5,152.5c6.903,0,12.5-5.597,12.5-12.5
                c0-6.902-5.597-12.5-12.5-12.5c-70.304,0-127.5-57.195-127.5-127.5c0-70.304,57.196-127.5,127.5-127.5
                c70.305,0,127.5,57.196,127.5,127.5c0,19.372-4.371,38.337-12.723,55.568l-5.553-17.096c-2.133-6.564-9.186-10.156-15.75-8.025
                c-6.566,2.134-10.16,9.186-8.027,15.751l14.74,45.368c1.715,5.283,6.615,8.642,11.885,8.642c1.279,0,2.582-0.198,3.865-0.614
                l45.369-14.738C320.371,243.946,323.965,236.895,321.832,230.327z"/>
    </svg>
    </a>
</div>
<script>
    $(function() {
        $(".btn").click(function() {
            $(".form-signin").toggleClass("form-signin-left");
            $(".form-signup").toggleClass("form-signup-left");
            $(".frame").toggleClass("frame-long");
            $(".signup-inactive").toggleClass("signup-active");
            $(".signin-active").toggleClass("signin-inactive");
            $(".forgot").toggleClass("forgot-left");
            $(this).removeClass("idle").addClass("active");
        });
    });

    $(function() {
        $(".btn-signup").click(function() {
            $(".nav").toggleClass("nav-up");
            $(".form-signup-left").toggleClass("form-signup-down");
            $(".success").toggleClass("success-left");
            $(".frame").toggleClass("frame-short");
        });
    });

    $(function() {
        $(".btn-signin").click(function() {
            $(".btn-animate").toggleClass("btn-animate-grow");
            $(".welcome").toggleClass("welcome-left");
            $(".cover-photo").toggleClass("cover-photo-down");
            $(".frame").toggleClass("frame-short");
            $(".profile-photo").toggleClass("profile-photo-down");
            $(".btn-goback").toggleClass("btn-goback-up");
            $(".forgot").toggleClass("forgot-fade");
        });
    });
</script>
<!--------------->

<!--<div class="container">-->

<!--    <div class="row" style="margin-top:20px">-->
<!--        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">-->
<!--            <form th:action="@{/login}" method="post">-->
<!--                <fieldset>-->
<!--                    <h1>Please Sign In</h1>-->

<!--&lt;!&ndash;                    <div th:if="${param.error}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="alert alert-danger">&ndash;&gt;-->
<!--&lt;!&ndash;                            Invalid username and password.&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div th:if="${param.logout}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="alert alert-info">&ndash;&gt;-->
<!--&lt;!&ndash;                            You have been logged out.&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                    <div class="form-group">-->
<!--                        <input type="text" name="username" id="username" class="form-control input-lg"-->
<!--                               placeholder="UserName" required="true" autofocus="true"/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="password" name="password" id="password" class="form-control input-lg"-->
<!--                               placeholder="Password" required="true"/>-->
<!--                    </div>-->

<!--                    <div class="row">-->
<!--                        <div class="col-xs-6 col-sm-6 col-md-6">-->
<!--                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>-->
<!--                        </div>-->
<!--                        <div class="col-xs-6 col-sm-6 col-md-6">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </fieldset>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>