<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body th:fragment="menu">

<nav class="top-menu">
    <ul  class="menu-main">
        <li class="right-item"><a href="user">Страница пользователя</a></li>
        <li class="right-item"><a href="admin">Страница админа</a></li>
        <li class="right-item"><a href="home">Home</a></li>
    </ul>
</nav>



<table align="right">
    <tr>
        <td> <a class = "login" href="login">Войти</a></td>
        <td> <a class = "login" href="logout">Выйти</a></td>
    </tr>

</table>


<div style="height: 15px"></div>


</body>
</html>