<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <title>Spring Boot Thymeleaf + Spring Security</title>-->

    <!--    <div th:replace="fragments/header :: header-css"/>-->

</head>
<head th:replace="head :: head"></head>
<body th:replace="menu :: menu"></body>
<body bgcolor="aqua">

<!--<div th:replace="fragments/header :: header"/>-->


<!--ВРЕМЕННО-->
<div class="container" >

    <div class="starter-template">
        <h1 style="color:#0000ff">Личный кабинет</h1>
<!--        <h1 th:inline="text" style="color:#0000ff">Здравствуйте [[${#httpServletRequest.remoteUser}]]!</h1>-->


    </div>
</div>
<table th:each="person : ${users}">
    <tr>
        <td th:utext="${person.username}"></td>
    </tr>
    <tr>
        <td th:utext="${person.fio}"></td>
    </tr>
    <tr>
        <td th:utext="${person.phone}"></td>
    </tr>
    <tr>
        <td th:utext="${person.email}"></td>
    </tr>
</table>
<!--ВРЕМЕННО-->


</body>
</html>