<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example </title>
</head>
<head th:replace="head :: head"></head>
<body th:replace="menu :: menu"></body>
<body>
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->
<p style="font-size: medium; color: white">Добавление нового пользователя</p>
<form action="/registration" method="post">
    <div><label> User Name : <input class="form-styling" type="text" name="Username"/> </label></div>
    <div><label> Password: <input class="form-styling" type="password" name="Password"/> </label></div>
    <div><label> Fio: <input class="form-styling" type="Fio" name="ФИО"/> </label></div>
    <div><label> Phone: <input class="form-styling" type="Phone" name="Телефон"/> </label></div>
    <div><label> Mail: <input class="form-styling" type="Mail" name="Почта"/> </label></div>
    <br>
    <div><input type="submit" value="Sign In"/></div>
<!--    <a href="login">Войти</a>-->
<!--    <br>-->
<!--    <a href="home1">home</a>-->

</form>
</body>
</html>